<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos</title>
    <link rel="stylesheet" href="./../assets/css/navbar.css">
    <link rel="stylesheet" href="./../assets/css/contactanos.css">
</head>
<body>
    <img src="./../assets/img/menu.svg" class="menu">
    <img src="./../assets/img/logo.png" class="imgMobile">
    <div class="nav">
        <div class="head">
            <img src="./../assets/img/logo.png">
            <h1>X</h1>
        </div>
        <ul>
            <li class="ini">Inicio</li>
            <li>Contáctanos</li>
            <li>Quiénes Somos</li>
        </ul>
        <img src="./../assets/img/logo.png" class="logo">
    </div>
    <div class="galletas">
        <div class="text1">
            <h1>Galletas y Hojaldres</h1>
        </div>
        <div class="contact">
            <div class="img">
                <a href="#"><img src="./../assets/img/whas.png"></a>
            </div>
            <div class="img">
                <a href="#"><img src="./../assets/img/face.png"></a>
            </div>
        </div>
        <div class="text2">
            <h1>Contactanos por estos medios</h1>
        </div>
    </div>
</body>
</html>