<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes Somos</title>
    <link rel="stylesheet" href="./../assets/css/navbar.css">
    <link rel="stylesheet" href="./../assets/css/quienesSomos.css">
</head>
<body>
    <img src="./../assets/img/menu.svg" class="menu">
    <img src="./../assets/img/logo.png" class="imgMobile">
    <div class="nav">
        <div class="head">
            <img src="./../assets/img/logo.png">
            <h1>X</h1>
        </div>
        <ul>
            <li class="ini">Inicio</li>
            <li>Contáctanos</li>
            <li>Quiénes Somos</li>
        </ul>
        <img src="./../assets/img/logo.png" class="logo">
    </div>
    <div class="galletas">
        <div class="text1">
            <h1>Galletas y Hojaldres</h1>
            <p>¿Quienes somos?</p>
        </div>
    </div>
    <div class="cont">
        <div class="barra1">
            <p>Bienvenido a Galletas y hojaldres, un rincón
                delicioso donde los sabores auténticos y la
                artesanía se fusionan para crear
                experiencias gastronómicas inolvidables. En 
                Galletas y hojaldres, nuestra pasión por la 
                repostería fina y la dedicación a la calidad
                se reflejan en cada bocado de nuestras
                exquisitas galletas y hojaldres.
            </p>
            <img src="../assets/img/quieneSomosImg1.png">
        </div>
        <center><h1>Nuestra Historia</h1></center>
        <div class="barra2">
            <img src="../assets/img/quieneSomosImg2.png">
            <p>Desde nuestros modestos comienzos, hemos
                 buscado cautivar los paladares más exigentes con
                 productos que van más allá de lo convencional.
                 Fundada en [Año de Fundación], nuestra tienda se
                 ha convertido en un oasis para los amantes de los
                 postres, ofreciendo una gama cuidadosamente
                 seleccionada de galletas y hojaldres elaborados
                 con ingredientes de primera calidad.
            </p>
        </div>
        <center><div class="final">
            <h1>
                Nos encantaria que pruebes este manjar tan delicioso
                como lo son nuestras galletas, animate 
                ¡No te arrepentiras!
            </h1>
        </div></center>
    </div>
    
</body>
</html>