@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    top: 0;
    font-family: 'Poppins';
}

:root {
    --1: white;
    --2: black;
    --3: #D9731A;
    --4: #E8B77F;
    --5: #732C02;
    --6: #C18E61;
    --7: #221816;
    --8: #846A31;
    --9: #9F3B00;
    --10: #bc681e;
}

body {
    background-image: url("./../img/index.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


/* Text galletas 1 */

.textGalletas1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 58%;
}

.textGalletas1 .text1 {
    padding-inline-start: 11%;
    margin-top: 7%;
}

.textGalletas1 h1 {
    font-family: 'Lobster';
    font-size: 5rem;
    font-weight: 100;
    width: 70%;
}

.text1 p {
    width: 70%;
    margin-top: 2rem;
    font-size: 180%;
    text-align: justify;
}

.imgVec1 img{
    width: 30rem;
    height: auto;
    margin-top: 2.2rem;
}

.imgVec1 {
    width: 35rem;
    margin-right: 3rem;
    background-image: url('./../img/vectorImg.svg');
    background-position: center center;
    background-size: 31rem;
    background-repeat: no-repeat;
}

/* Text galletas 2 */

.imgVec2 img {
    margin-left: 58%;
    position: absolute;
    width: 33%;
    top: 74%;
    right: 53.7%;
    height: auto;
}

.imgVec2 .img2 {
    position: absolute;
    width: 31%;
    top: 74.7%;
    right: 54.6%;
}

.textGalletas2 {
    display: flex;
    flex-direction: row;
}

.textGalletas2 .text2 {
    width: 36.9%;
    margin-left: 58%;
    margin-top: 20%;
    height: 10rem;
}


.text2 input {
    margin-bottom: 8%;
    margin-left: 7%;
    padding: 4%;
    font-size: 200%;
    border-radius: 1rem;
    background-color: var(--3);
    color: var(--1);
    cursor: pointer;
}

.text2 input:hover {
    background-color: var(--10);
}

.text2 p {
    font-size: 180%;
    text-align: justify;
}

@media screen and (max-width: 1549px){
    .textGalletas2 .text2 {
        margin-top: 15%;
    }

    .textGalletas1 h1 {
        font-family: 'Lobster';
        font-size: 4rem;
        font-weight: 100;
    }
    
}