@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    top: 0;
    font-family: 'Poppins';
}

:root {
    --1: white;
    --2: black;
    --3: #D9731A;
    --4: #E8B77F;
    --5: #732C02;
    --6: #C18E61;
    --7: #221816;
    --8: #846A31;
    --9: #9F3B00;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 1%;
}

.head {
    display: none;
}

.nav .logDes {
    margin-right: 10rem;
    height: 15%;
    width: 10%;
}

.imgMobile {
    display: none;
}

.nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav ul li {
    width: 14.1rem;
    height: 3rem;
    color: var(--1);
    font-size: 170%;
    font-weight: 500;
    cursor: pointer;
}

.ini {
    text-align: center;
}

.menu{
    display: none;
}

@media screen and (max-width: 1024px) {

    .nav .logDes {
        display: none;
    }

    .nav {
        margin-left: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 13rem;
        background-color: var(--5);
    }

    .head {
        width: 78%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .head h1{
        font-size: 200%;
        color: var(--1);
    }

    .head img {
        height: 2rem;
        width: 2rem;
    }
    
    .nav ul {
        margin-right: 7%;
        width: 46%;
        display: flex;
        align-items: center;
        flex-direction: column;
        list-style: none;
    }

    .nav ul li {
        margin-top: .8rem;
        background-color: var(--9);
        color: var(--1);
        text-align: center;
        border-radius: 1rem;
        width: 180%;
        height: 2rem;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .imgMobile {
        display: none;
        position: absolute;
        right: 5%;
        top: .8%;
        width: 23%;
    }

    .menu {
        display: none;
        margin-top: 2rem;
        margin-left: 2rem;
        height: 10%;
        width: 10%;
        cursor: pointer;
    }
}